@media screen and (max-width:1226px) {
	.wrapper {
		width: 768px;
	}

	.page-container {
		padding: 0 15px;
	}

	.header__left__top {
		display: none;
	}

	.header__left__bot__item.header__left__bot__item_basket {
		display: none;
	}

	.header {
		padding: 0px 0 0 18px;
	}

	.header__left {
		width: 623px;
	}

	.header__left__bot {
		padding-bottom: 19px;
		padding-top: 20px;
	}

	.mobile-items {
		display: block;
	}

	.header__left__bot__item.header__left__bot__item_slogan {
		margin-right: 20px;
	}

	.btn-toggle {
		display: inline-block;
		width: 129px;
		height: 56px;
		border: none;
		outline: none;
		cursor: pointer;
		background: url(../img/burger-icon_03.png) 26px 21px no-repeat;
		padding-left: 26px;
		border-right: 1px solid #e1e1e1;
	}

	.btn-toggle:active {
		background-color: #333333;
		color: #fff;
		background-position: 26px -14px;
	}

	.btn-toggle:hover {
		background-color: #333333;
		color: #fff;
		background-position: 26px -14px;
	}

	.btn-toggle:focus {
		background-color: #333333;
		color: #fff;
		background-position: 26px -14px;
	}

	.header__left__bot__item {
		padding: 13px 24px 0 0;
	}

	.logo {
		width: 124px;
		height: 86px;
		padding: 6px 6px 4px 6px;
	}

	.phone.phone_icon::before {
		display: none;
	}

	.logo-a {
		background-size: 111px;
	}

	.logo-a:hover {
		background-position: 0 0;
	}

	.logo-back {
		display: none;
	}

	.header__left__bot__item.header__left__bot__item_slogan {
		margin-right: 43px;
		padding: 13px 0 0 15px;
	}

	.phone {
		font-size: 17px;
	}

	.header-enter-link.header-enter-link_enter::before {
		font-size: 20px;
		top: -1px;
		left: -11px;
	}

	.menu-block {
		display: none;
	}

	.slider-main  .slick-prev {
		visibility: hidden;
	}

	.slider-main  .slick-next {
		visibility: hidden;
	}

	.slider-main {
		height: 297px;
		padding: 0 1px;
	}

	.slider-main  .slick-dots {
		bottom: 13px;
	}

	.section__item h2 {
		position: relative;
		padding: 24px 0 0 6px;
		font-weight: 700;
		font-size: 25px;
	}

	.main-page-title {
		margin-left: 20px;
		font-size: 33px;
		margin-bottom: 14px;
	}

	.section-items {
		margin: 4px 0 30px 0;
		height: 160px;
		padding: 0 20px;
	}

	.scroll-container {
		width: 100%;
		overflow-y: auto;
		_overflow: auto;
		margin: 0 0 1em;
	}

	.sales-blc {
		padding: 10px 0 0 0;
	}

	.sales-blc__items {
		overflow: hidden;
		width: 2512px;
		padding: 0 17px;
	}

	.sales-blc__item:nth-child(4n) {
		margin-right: 30px;
	}

	.main-title {
		font-size: 30px;
		margin: 0 0 23px 18px;
	}

	.news-blc__item {
		width: 100%;
		margin-bottom: 20px;
	}

	.news-blc__items {
		padding: 0 20px;
	}

	.news-blc {
		padding-top: 0;
	}

	.more-news {
		margin: 27px 0 0 14px;
	}

	.news-blc__item__left {
		width: 122px;
		float: left;
	}

	.news-blc__item__right {
		width: 81%;
		padding-top: 6px;
	}

	.clients-blc__left {
		float: none;
		width: 100%;
	}

	.news-blc__item__title {
		margin-bottom: 10px;
	}

	.clients-blc__right {
		width: 100%;
		float: none;
		padding: 0 20px;
	}

	.partners-slider {
		width: 92%;
		margin: 0 auto 10px;
	}

	.partners-slider {
		margin: 0 auto 10px;
		height: 110px;
	}

	.footer__left__item:first-child {
		display: none;
	}

	.footer__left {
		width: 61%;
		padding-left: 20px;
		padding-top: 26px;
	}

	.footer__right {
		float: right;
		width: 39%;
		padding: 22px 20px 145px 34px;
	}

	.footer__left__list__item {
		font-size: 14px;
		border-bottom: 1px solid #c7c7c7;
		padding: 10px 0 9px 0;
	}

	.footer__left__list__item:first-child {
		border-top: 1px solid #c7c7c7;
	}

	.footer__left__item {
		width: 39%;
	}

	.footer__left__item_phone {
		width: 48%;
		margin-right: 24px;
		padding: 5px 0 14px 16px;
		border-bottom: 1px solid #c7c7c7;
	}

	.footer__left__item_phone::before {
		display: none;
	}

	.footer-copyright__left {
		padding-top: 0;
		width: 44%;
	}

	.footer-copyright__left span {
		display: block;
		padding-top: 0;
		margin-bottom: 5px;
	}

	.partners-slide img {
		max-width: 78%;
	}

	.partners-slide {
		height: 110px;
	}

	.footer-phone {
		padding-left: 0;
		margin-bottom: 14px;
	}

	.footer-links__phone {
		font-size: 14px;
		margin-bottom: 10px;
		padding-left: 0;
	}

	.footer-copyright {
		padding: 24px 0 7px 0;
	}

	.footer-copyright__develop {
		margin-right: 35px;
	}

	.footer {
		height: 321px;
		margin-top: -321px;
	}

	.page__buffer {
		height: 321px;
	}

	.feedback {
		margin-left: 0;
		font-size: 15px;
	}

	.footer-links__link_fb {
		margin-left: 0;
	}

	.main-title.main-title_footer {
		font-size: 22px;
		margin-bottom: 7px;
		margin-left: 0;
	}

	.footer__right__text {
		margin-left: 0;
	}

	.sign__button::after {
		left: 12px;
	}

	.sign {
		width: 100%;
		margin: 0;
	}

	.footer__right::after {
		left: 32px;
	}

	.section__item__info__title {
		font-size: 18px;
	}

	.section__item__info__more {
		font-size: 12px;
	}

	.clients-blc {
		margin-bottom: 40px;
	}

	.sign__input {
		width: 80%;
	}

	.sign__button {
		width: 20%;
	}

	.section__item__info__more::after {
		top: -4px;
	}

	.footer__left .link-dashed {
		border-bottom: 1px solid transparent;
	}

	.pagination {
		margin: 40px auto 30px;
		float: right;
		width: 100%;
		text-align: center;
	}

	.complect__item {
		padding: 6px 15px;
	}

	.sort-link {
		margin-right: 35px;
	}

	.sort {
		padding-bottom: 60px;
	}

	.price-slider {
		width: 100%;
	}

	.range-slider {
		width: 92%;
	}

	.set-item {
		padding: 8px 16px;
	}

	.result {
		padding-bottom: 45px;
	}

	.tabs {
		margin-top: 0;
	}

	.tabs__caption li {
		font-size: 17px;
	}

	.tab__table {
		margin-bottom: 23px;
	}

	.complect h6 {
		margin-bottom: 16px;
	}

	.set__item {
		height: 269px;
		margin-bottom: 29px;
	}

	.set__item__inner {
		height: 211px;
	}

	.complect-title {
		font-size: 17px;
		line-height: 19px;
	}

	.set__item h2 {
		font-size: 17px;
		padding: 2px;
		margin: 32px 0 0 0;
		line-height: 24px;
	}

	.set__item p {
		font-size: 12px;
		padding: 10px 20px 20px;
		max-height: 80px;
		margin-bottom: 5px;
		line-height: 17px;
	}

	.banner {
		height: 208px;
	}

	.tabs__content__color__item {
		width: 159px;
		margin-right: 15px;
	}

	.product__pic {
		width: 100%;
		margin-bottom: 12px;
	}

	.product__slider {
		padding: 0;
	}

	.product__slide__small{
		width: 100%;
	}

	.card-title {
		padding-bottom: 10px;
	}

	.product__left {
		width: 100%;
		margin-bottom: 20px;
	}

	.product__slider__big .slick-next {
		left: -111px;
	}

	.product__slider__big .slick-prev {
		left: -111px;
	}

	.product__right{
		width: 100%;
	}

	.irs-slider.state_hover, .irs-slider {
		background-position: 2px -157px;
	}

	.news__point__info {
		width: 76%;
	}

	.post__pic {
		width: 300px;
		margin-right: 18px;
	}

	.back-form-span {
		display: none;
	}

	.back-form-btn{
		width: 100%;
	}

	.form-row {
		width: 100%;
	}

	.cabinet-btn {
		margin-left: 22%;
	}

	.sign-btn {
		margin-left: 0;
	}

	.sign-list {
		width: 60%;
	}

	.registration {
		width: 89%;
	}

	.main-order-btn_reg {
		width: 68%;
		margin: 0 0 50px 146px;
	}

	.order-pic {
		width: 80px;
		height: 80px;
	}

	.cart-title {
		width: 170px;
		font-size: 14px;
	}

	.section__item p {
		margin-left: 6px;
	}

	#menuVertical ul li a {
		padding-left: 17px;
	}

	







}

@media screen and (max-width:767px){
	.wrapper {
		max-width: 320px;
		overflow: hidden;
	}

	.header {
		padding: 0;
	}

	.logo {
		width: 90px;
		height: 67px;
		padding: 6px 6px 4px 6px;
	}

	.logo-a {
		background-size: 77px;
	}

	.header__left {
		width: 229px;
	}

	.header__left__bot {
		padding-bottom: 4px;
		padding-top: 3px;
	}

	.header__left__bot__item.header__left__bot__item_slogan {
		padding: 13px 0 0 19px;
		margin-right: 0;
	}

	.header__left__bot__item {
		display: none;
	}

	.header__left__bot__item_slogan {
		display: block;
		padding: 8px 0 0 15px;
	}

	.site-slogan.site-slogan_big {
		font-size: 38px;
		margin-bottom: 4px;
	}

	.site-slogan {
		font-size: 12px;
	}

	.mobile-items {
		display: block;
	}

	.mobile-items {
		height: 46px;
		margin-bottom: 8px;
	}

	.btn-menu {
		width: 61px;
		height: 46px;
	}

	.btn-toggle {
		width: 61px;
		height: 46px;
		background-position: 21px 14px;
	}

	.btn-menu.static.active-btn .btn-toggle {
		background-position: 20px -18px;
	}

	.btn-toggle:hover {
		background-position: 20px -18px;
		padding-left: 0;
	}

	.mob-span {
		display: none;
	}

	.menuVertical {
		top: 46px;
	}

	.btn-enter {
		width: 61px;
		height: 46px;
		padding: 0;
	}

	.header-enter-link {
		display: none;
	}

	.header-enter-link.header-enter-link_enter {
		display: block;
	}

	.header-enter-link.header-enter-link_enter::before {
		font-size: 20px;
		top: 14px;
		left: 20px;
	}

	.b-form-item_type_captcha .b-form-item__input {
		width: 43%;
		float: left;
	}

	.b-form-item_type_captcha .b-form-item__input-image {
		width: 43%;
	}

	.b-form-item_style_default .b-form-item__label {
		font-size: 13px;
	}

	.login-options__left {
		width: 100%;
		float: left;
		margin-bottom: 12px;
	}

	.login-options__right {
		width: 100%;
		float: right;
		text-align: left;
	}

	.enter-win h6 {
		font-size: 16px;
		text-align: center;
		margin-bottom: 10px;
	}

	.btn-basket {
		width: 60px;
		height: 46px;
	}

	.btn-basket__link::before {
		top: 15px;
		left: 18px;
		font-size: 22px;
	}

	.btn-city {
		width: 61px;
		height: 46px;
	}

	.btn-city__toggle {
		width: 63px;
		height: 46px;
	}

	.btn-city__dropdown {
		top: 46px;
	}

	.search-input__drop {
		width: 81%;
		padding-left: 13px;
	}

	.btn-city__toggle::before {
		top: 11px;
		left: 21px;
	}

	.btn-search {
		width: 61px;
		height: 46px;
	}

	.btn-search__button {
		width: 61px;
		height: 46px;
	}

	.search-btn {
		width: 17%;
	}

	.btn-search__drowdown {
		top: 46px;
		left: -1px;
	}

	.btn-city__dropdown__search button {
		width: 15%
	}

	.btn-city__dropdown__search button:after {
		top: 9px;
		font-size: 13px;
		left: 13px;
	}

	.btn-search__button:after {
		top: 15px;
	}

	.btn-search__drowdown {
		padding: 5px;
	}

	.btn-city__dropdown__search {
		width: 100%;
		margin-bottom: 11px;
	}

	.region-title {
		margin-bottom: 7px;
	}

	.btn-city__dropdown {
		padding-bottom: 2px;
	}

	#menuVertical ul li a {
		padding-left: 17px;
	}

	#menuVertical ul li ul li {
		padding-left: 0;
	}

	.slider-main {
		height: 123px;
		margin-bottom: 50px;
		overflow: visible;
	}

	.slider-main  .slick-dots li button {
		background: #dddddd;
	}

	.slider-main  .slick-dots li button:before {
		background: #dddddd;
	}

	.slider-main  .slick-dots li.slick-active button:before{
		border: 2px solid #dddddd;
	}

	.slider-main .slick-dots {
		bottom: -35px;
	}

	.slider-main  .slick-dots li {
		margin: 0 13px;
	}

	.section__item {
		width: 100%;
	}

	.section-items {
		margin: 4px 0 30px 0;
		height: auto;
		padding: 0 10px;
	}

	.section__item__info__more {
		font-size: 10px;
	}

	.section__item h2 {
		padding: 28px 0 0 11px;
		font-size: 22px;
	}

	.section__item p {
		margin-top: 0;
	}

	.section__item__info__more::after {
		top: -4px;
		right: -21px;
	}

	.sales-blc {
		padding: 19px 0 0 0;
	}

	.main-title {
		font-size: 20px;
		margin: 0 0 10px 10px;
		line-height: 26px;
	}

	.sales-blc__item {
		width: 170px;
		margin-right: 10px;
	}

	.count-list li {
		line-height: 20px;
	}

	.sales-blc__item__pic {
		width: 145px;
		height: 145px;
		overflow: hidden;
		margin: 0 auto 19px;
	}

	.sales-blc__item__color {
		width: 20px;
		height: 20px;
		display: inline-block;
	}

	.sales-blc__item__fabric {
		font-size: 12px;
	}

	.sales-blc__item__name {
		font-size: 12px;
	}

	.price {
		width: 65%;
		font-size: 18px;
	}

	.old-price {
		width: 35%;
		float: right;
		text-align: right;
		font-size: 11px;
		padding-top: 13px;
	}

	.basket-link {
		float: none;
		display: block;
		margin: 50px auto 0;
	}

	.sales-blc__item:nth-child(4n){
		margin-right: 10px;
	}

	.sales-blc__items {
		width: 1495px;
		padding-top: 5px;
		padding: 5px 10px 0 10px;
	}

	.more-news {
		margin: 10px 0 0 101px;
	}

	.news-blc__item__left {
		width: 80px;
	}

	.news-blc__item__left__pic {
		width: 80px;
		height: 80px;
	}

	.news-blc__items {
		padding: 0 10px;
	}

	.news-blc {
		padding-top: 20px;
	}

	.news-blc__item__right {
		width: 70%;
		padding-top: 4px;
		padding-right: 10px;
	}

	.news-blc__item__title {
		font-size: 13px;
		line-height: 21px;
		margin-bottom: 10px;
	}

	.news-blc__item__descr {
		margin-top: 9px;
		line-height: 17px;
		font-size: 12px;
		padding-bottom: 5px;
	}

	.date {
		margin-bottom: 2px;
	}

	.main-title.main-title_clients {
		font-size: 21px;
		margin-bottom: 12px;
	}

	.partners-slide {
		height: 84px;
	}

	.partners-slider {
		height: 84px;
		width: 79%;
	}

	.footer__left__item {
		width: 100%;
		padding-left: 0;
		padding-bottom: 0;
	}

	.footer__left__item_phone {
		border-bottom: 1px solid #e1e1e1;
		padding-bottom: 10px;
	}

	.footer {
		height: 727px;
		margin-top: -727px;
		padding-top: 18px;
	}

	.page__buffer {
		height: 727px;
	}

	.footer__left {
		width: 100%;
		padding: 26px 10px 0 10px;
	}

	.footer__right {
		width: 100%;
		padding: 22px 10px 35px 10px;
	}

	.footer-phone {
		display: none;
	}

	.footer .link-dashed, .link-dashed:hover, .link-dashed:active, .link-dashed:visited {
		border-bottom: none;
	}

	.footer__left__list__item {
		border-bottom: 1px solid #e1e1e1
	}

	.footer__left__list__item:first-child {
		border-top: 1px solid #e1e1e1
	}

	.feedback {
		display: none;
	}

	.footer__left__list {
		padding-bottom: 15px;
	}

	.footer-copyright {
		padding: 15px 0 21px 0;
	}

	.footer-copyright__develop {
		margin-right: 0;
		float: left;
	}

	.footer-copyright__auth {
		margin-bottom: 5px;
	}

	.footer__right::after {
		display: none;
	}

	.footer-mobile-phones {
		display: block;
		padding: 0 10px;
	}

	.footer-mobile-phones span {
		 font-family: 'pf_dindisplay';
		 font-weight: 700;
		display: inline-block;
		width: 47%;
		text-align: center;
		color: #fff;
		padding: 10px 0 10px 0;
		border-radius:4px;
		background: #cc0022; 
		vertical-align: top;
	}

	.footer-mobile-phones span:first-child {
		margin-right: 12px;
	}

	.footer-links {
		padding-left: 27px;
	}

	.footer-copyright__left {
		padding-top: 0;
		width: 100%;
		margin-bottom: 16px;
	}

	.footer-copyright__right {
		float: right;
		text-align: left;
		width: 100%;
	}

	.main-title.main-title_footer {
		font-size: 21px;
	}

	.clients-blc__right {
		padding: 0 10px;
	}

	h1 {
		font-size: 37px;
		line-height: 41px;
		margin-bottom: 5px;
	}

	h2 {
		font-size: 32px;
		margin-top: 10px;
		line-height: 36px;
	}

	h3 {
		font-size: 30px;
		margin-top: 10px;
	}

	h4 {
		font-size: 26px;
	}

	h5 {
		font-size: 22px;
		line-height: 27px;
	}

	h6 {
		line-height: 20px;
	}

	h6 {
		line-height: 23px;
	}

	.set-item {
		padding: 3px 6px;
		margin-bottom: 10px;
	}

	.set__item__inner {
		height: 173px;
	}

	.page-title {
		font-size: 30px;
		line-height: 32px;
		margin-bottom: 10px;
	}

	.price-slider {
		margin-top: 20px;
	}

	.complect__item {
		padding: 4px 10px;
	}

	.sort {
		padding-bottom: 0;
	}

	.sort-span {
		font-weight: 700;
	}

	.sort-link {
		display: block;
		margin-right: 38px;
		margin-bottom: 5px;
		padding-top: 10px;
	}

	.sort-link_up::after {
		right: 90px;
	}

	.sort-link_down::after {
		right: 90px;
	}

	.range-slider {
		width: 80%;
	}

	.pagination__item_current {
		padding: 5px 13px;
	}

	.result{
		padding-bottom: 10px;
	}

	.pagination__item.pagination__item_larr .pagination__link {
		display: none;
	}

	.pagination__item.pagination__item_rarr .pagination__link {
		display: none;
	}

	.set__left {
		width: 100%;
		float: none;
	}

	.set__right {
		width: 100%;
		float: none;
	}

	.set__item {
		height: 235px;
		margin-bottom: 25px;
	}

	.set__item p {
		display: none;
	}

	.set__item h2 {
		margin-top: 43px;
		margin-bottom: 27px;
	}

	.banner {
		height: 82px;
	}

	.tabs__content__color__item {
		width: 46%;
		margin-right: 9px;
	}

	.tabs__content__color {
		width: 100%;
		height: 50px;
	}

	.color-set {
		border-bottom: 1px solid #e6e6e6;
	}

	.sp-slides-container::after {
		display: none;
	}

	.sp-slides-container::before {
		display: none;
	}

	.product__right {
		width: 100%;
		float: none;
	}

	.product__slider__big {
		width: 100%;
		height: 290px;
		float: none;
	}

	.product__slide__big {
		width: 100%;
		height: 290px;
	}

	.product__slider__small {
		width: 100%;
		height: 82px;
		padding: 0;
		display: block;
		float: none;
	}


	.product__slider__big .slick-prev {
		left: 0;
		bottom: 150px;
		-moz-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.product__slider__big .slick-next {
		right:-379px;
		bottom: 38px;
		-moz-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.card-title {
		padding-bottom: 10px;
		line-height: 35px;
		font-size: 28px;
	}

	.buy__link {
		width: 134px;
		padding-left: 53px;
	}

	.buy__link::before {
		font-size: 21px;
		left: 20px;
	}

	.social__link {
		margin-right: 3px;
	}

	.details__table td {
		padding: 9px;
		border-right: 1px solid #fff;
	}

	#back-to-top.show {
		display: none;
	}

	#back-to-top {
		display: none;
	}


	.product__slider__big .slick-next {
		background: url(../img/vert-arrows-hov.png) 0 8px no-repeat;
	}

	.product__slider__big .slick-prev {
		background: url(../img/vert-arrows-hov.png) 0 -53px no-repeat;
	}

	.map-info-left {
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}

	.map-info-right {
		width: 100%;
		float: none;
		margin-bottom: 11px;
	}

	.back-form-left {
		width: 100%;
	}

	.back-form-right {
		width: 100%;
	}

	.map-in{
		display: none;
	}

	.back-form-btn {
		width: 100%;
		margin-bottom: 10px;
	}

	.baloon .map-info-left {
		width: 100%;
	}

	.baloon .small-title {
		margin-bottom: 10px;
	}

	.bread-crumbs__separator:before {
		line-height: 18px;
		padding-top: 2px;
	}

	.bread-crumbs__separator {
		height: 19px;
		vertical-align: middle;
	}

	.news__point__pic {
		display: none;
	}

	.news__point__info {
		width: 100%;
	}

	.post {
		margin-top: 26px;
	}

	.post__content .date {
		margin-bottom: 10px;
	}

	.post__pic {
		width: 100%;
		margin-bottom: 20px;
	}

	.form-control {
		width: 100%;
	}

	.map-info-right span:last-child {
		margin-bottom: 20px;
	}

	.info-label {
		width: 100%;
		display: block;
		margin-bottom: 5px;
	}

	.input-row {
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
	}

	.cabinet-btn {
		width: 100%;
		margin-left: 0;
		margin-bottom: 20px;
	}

	.sign-answer {
		width: 100px;
	}

	.sign-list {
		width: 100%;
	}

	.sign-question {
		width: 188px;
	}

	.tabs .tabs-label {
		width: 144px;
		padding: 10px 6px;
	}

	.delivery-info__left {
		width: 100%;
		float: none;
	}

	.delivery-info__right {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}

	.form-row_captcha .info-label {
		width: 49%;
		display: inline-block;
	}

	.form-row_captcha .input-row {
		width: 49%;
		display: inline-block;
	}

	.registration {
		width: 100%;
	}

	.main-order-btn_reg {
		width: 100%;
		margin: 10px 0 40px 0;
		text-transform: none;
		height: 41px;
		font-size: 17px;
	}

	.order-cart .counter {
		width: 94px;
	}

	.order-cart .count {
		width: 34px;
		height: 34px;
		font-size: 16px;
	}

	.order-color {
		width: 63px;
	}

	.order-material {
		width: 63px;
	}

	.partners-slider .slick-prev {
		left: -48px;
	}

	.partners-slider .slick-next {
		right: -48px;
		background: url(../img/partners-arrow.png) 20px -43px no-repeat;
	}

	.partners-slider .slick-next:hover {
		background: url(../img/partners-arrow-hov.png) 20px -43px no-repeat;
	}

	.main-page-title {
		font-size: 21px;
		margin-bottom: 0;
		margin-left: 11px;
		margin-top: 0;
	}

	.category__item__pic  {
		width: 145px;
		height: 145px;
		overflow: hidden;
		margin: 0 auto 19px;
	}

	.category__item__name {
		font-size: 14px;
		line-height: 17px;
	
	}

	.category-result {
		font-size: 12px;
	}






	}












































